<section class="container_header">
    <nav class="container_nav container">
        <div class="content_card_img"><img src="./assets/logo.webp" alt="Logo"></div>
        <div class="container_navigation">
            <ul>
                <li class="title_header">
                    <a href="../../index.html">
                        Home
                    </a>
                </li>

                <li class="title_header">
                    <a href="../../page/petShop/petShop.html" target="">Pet Shop</a>
                </li>
                <li class="title_header">
                    <a href="#contact_me">
                        Contact Me
                    </a>
                </li>
            </ul>
        </div>
    </nav>

</section>