<section class="container-services">
    <div class="container services-content">
        <div class="container_title">
            <h2 class="service_title">¡Aprenda consejos esenciales para brindarle a su mascota la comodidad que se merece!</h2>
        </div>
        <div class="services-grid">
            
            <div class="service-item">
                <div><img src="./assets/icons/alimentos.png" alt="Descripción del servicio 2"></div>
                <div>
                    <h3 class="card_title">Capacitación</h3>
                    <p class="card_description">Corrige conductas, educa, diviértete y fortalece la relación con tu mascota.</p>
                </div>
            </div>
            <div class="service-item">
                <div><img src="./assets/icons/capacitacion.png" alt="Descripción del servicio 3"></div>
                <div>
                    <h3 class="card_title">Capacitación</h3>
                    <p class="card_description">Corrige conductas, educa, diviértete y fortalece la relación con tu mascota.</p>
                </div>
            </div>
            <div class="service-item">
                <div><img src="./assets/icons/capacitacion.png" alt="Descripción del servicio 3"></div>
                <div>
                    <h3 class="card_title">Capacitación</h3>
                    <p class="card_description">Corrige conductas, educa, diviértete y fortalece la relación con tu mascota.</p>
                </div>
            </div>
            <div class="service-item">
                <div><img src="./assets/icons/capacitacion.png" alt="Descripción del servicio 3"></div>
                <div>
                    <h3 class="card_title">Capacitación</h3>
                    <p class="card_description">Corrige conductas, educa, diviértete y fortalece la relación con tu mascota.</p>
                </div>
            </div>
            <div class="service-item">
                <div><img src="./assets/icons/capacitacion.png" alt="Descripción del servicio 3"></div>
                <div>
                    <h3 class="card_title">Capacitación</h3>
                    <p class="card_description">Corrige conductas, educa, diviértete y fortalece la relación con tu mascota.</p>
                </div>
            </div>
            <div class="service-item">
                <div><img src="./assets/icons/capacitacion.png" alt="Descripción del servicio 3"></div>
                <div>
                    <h3 class="card_title">Capacitación</h3>
                    <p class="card_description">Corrige conductas, educa, diviértete y fortalece la relación con tu mascota.</p>
                </div>
            </div>
        </div>
    </div>
</section>