<section class="container_testimonials">
    <div class="container content_testimonials">
      <h2 class="title_testimonials">
        ¡Aprenda consejos esenciales para brindarle a su mascota la comodidad que se merece!
      </h2>
  
      <div class="testimonials_grid">
        <article class="testimonial_item">
          <div class="testimonial_item_up">
            <div class="container_avatar">
              <img src="./assets/avatar.webp" alt="Foto de Cristian Correa">
            </div>
            <div>
              <h3>Cristian Correa</h3>
              <span>CEO Neovets</span>
            </div>
          </div>
          <hr />
          <div class="testimonial_item_down">
            <p class="card_description">
              La app ha simplificado el entrenamiento y me ha mantenido al tanto de la salud de mi amigo peludo.
              ¡La recomiendo a todos los amantes de los animales!
            </p>
          </div>
        </article>
  
        <article class="testimonial_item">
          <div class="testimonial_item_up">
            <div class="container_avatar">
              <img src="./assets/avatar.webp" alt="Foto de María Gómez">
            </div>
            <div>
              <h3>María Gómez</h3>
              <span>Veterinaria en PetCare</span>
            </div>
          </div>
          <hr />
          <div class="testimonial_item_down">
            <p class="card_description">
              Muy útil para llevar el control de citas y vacunas. Es la herramienta perfecta para mis clientes.
            </p>
          </div>
        </article>
  
        <article class="testimonial_item">
          <div class="testimonial_item_up">
            <div class="container_avatar">
              <img src="./assets/avatar.webp" alt="Foto de Juan López">
            </div>
            <div>
              <h3>Juan López</h3>
              <span>Adiestrador canino</span>
            </div>
          </div>
          <hr />
          <div class="testimonial_item_down">
            <p class="card_description">
              Gracias a la app, mis clientes siguen fácilmente los ejercicios y reportan avances. ¡Excelente idea!
            </p>
          </div>
        </article>
      </div>
    </div>
  </section>
  