<section class="container_about">
    <div class="container about_content">
        <div class="about_info">
            <h3 class="title_about">¡Tú y tu mascota aún más conectados!</h3>
            <p class="description_about">Nuestra aplicación simplifica la vida de su mascota al rastrear su historial de
                salud, administrar los gastos mensuales y conectarlo con una comunidad vibrante de dueños de mascotas.
            </p>
                <button class="button">Contact Me</button>
        </div>
        <div class="container_img_about">
            <img class="img_about" src="./assets/groupilustration.webp" alt="" srcset="">
        </div>
    </div>

</section>