<section id="contact_me" class="container_footer">
    <div class="container content_footer">
        <div class="container_footer_info">
            <div class="personal_info">
                <h2 class="title_contact">Contacte Me:</h2>
                <p>Email: 19correa99@gmail.com</p>
                <p>Phone: 300 424 7905</p>
            </div>
        </div>
        <div class="container_form">
            <form action="">
                <input class="input_email" placeholder="test@test.com" type="email" name="" id="">
                <button type="submit" class="button button_subscriber">Subcriber</button>
            </form>
           
        </div>
        
    </div>
</section>