<section class="container_download">
    <div class="container content_download">
        <div class="container_img_download">
            <img src="./assets/app.webp" alt="">
        </div>
        <div>
            <div class="info_download">
                <h2 class="title_download">¡DESCARGA NUESTRA APP!</h2>
                <ul class="functions">
                    <li>
                      <h3>
                        <span><img src="./assets/icons/alarm.png" alt=""></span>
                        Alertas y recordatorios inteligentes
                      </h3>
                      <p>Reciba notificaciones personalizadas sobre vacunas, citas con el veterinario y otras necesidades, garantizando que nunca se pierda la atención esencial para su mascota.</p>
                    </li>
                    <!-- Repite estructura para los demás ítems -->
                    <li>
                      <h3>
                        <span><img src="./assets/icons/alarm.png" alt=""></span>
                        Historial médico a un clic
                      </h3>
                      <p>Lleve un registro detallado de las visitas al veterinario, tratamientos y evolución de salud de su mascota.</p>
                    </li>
                    <li>
                      <h3>
                        <span><img src="./assets/icons/alarm.png" alt=""></span>
                        Comunidad de apoyo
                      </h3>
                      <p>Conéctese con otros dueños de mascotas, comparta consejos y descubra eventos y actividades locales.</p>
                    </li>
                    <li>
                      <button class="button">Download</button>
                    </li>
                  </ul>
                  
            </div>
        </div>
    </div>

</section>