<section class="container_hero ">
<div class="container contein_hero">
    <div class="contein_hero_left">
        <h2 class="title_hero">El mejor apoyo en el cuidado de tu <span>mejor amigo</span></h2>
        <p class="description_hero">Aquí encontrarás respuesta a todas tus preguntas, desde la elección de la mejor alimentación hasta consejos imprescindibles para garantizar el bienestar de tu compañero peludo.</p>
        <div>
            <button class="button">Contac Me</button>
        </div>
    </div>
    <div class="contein_hero_right">
        <img src="./assets/dogandcat.webp" alt="Hero" >
    </div>
</div>
</section>