<section class="container_petshop">
    <h2 class="subtitle_petshop">Catalogo de productos</h2>
    <div class="container petshop_content">
        <div class="content_products">
            <div class="card">
                <div class="card-content">
                    <h2 class="card-title">Gosbi</h2>
                    <p class="card-description">Comida de perros con salom.</p>
                    <p class="card-price">$19.99</p>
                    <button class="button button_add_to_cart">Add</button>
                </div>
                <div class="content_card_img">
                    <img src="../../assets/petshop/fooddog.webp" alt="Producto" class="card-image">
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                    <h2 class="card-title">Gosbi</h2>
                    <p class="card-description">Comida de perros con salom.</p>
                    <p class="card-price">$19.99</p>
                    <button class="button button_add_to_cart">Add</button>
                </div>
                <div class="content_card_img">
                    <img src="../../assets/petshop/fooddog.webp" alt="Producto" class="card-image">
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                    <h2 class="card-title">Gosbi</h2>
                    <p class="card-description">Comida de perros con salom.</p>
                    <p class="card-price">$19.99</p>
                    <button class="button button_add_to_cart">Add</button>
                </div>
                <div class="content_card_img">
                    <img src="../../assets/petshop/fooddog.webp" alt="Producto" class="card-image">
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                    <h2 class="card-title">Gosbi</h2>
                    <p class="card-description">Comida de perros con salom.</p>
                    <p class="card-price">$19.99</p>
                    <button class="button button_add_to_cart">Add</button>
                </div>
                <div class="content_card_img">
                    <img src="../../assets/petshop/fooddog.webp" alt="Producto" class="card-image">
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                    <h2 class="card-title">Gosbi</h2>
                    <p class="card-description">Comida de perros con salom.</p>
                    <p class="card-price">$19.99</p>
                    <button class="button button_add_to_cart">Add</button>
                </div>
                <div class="content_card_img">
                    <img src="../../assets/petshop/fooddog.webp" alt="Producto" class="card-image">
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                    <h2 class="card-title">Gosbi</h2>
                    <p class="card-description">Comida de perros con salom.</p>
                    <p class="card-price">$19.99</p>
                    <button class="button button_add_to_cart">Add</button>
                </div>
                <div class="content_card_img">
                    <img src="../../assets/petshop/fooddog.webp" alt="Producto" class="card-image">
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                    <h2 class="card-title">Gosbi</h2>
                    <p class="card-description">Comida de perros con salom.</p>
                    <p class="card-price">$19.99</p>
                    <button class="button button_add_to_cart">Add</button>
                </div>
                <div class="content_card_img">
                    <img src="../../assets/petshop/fooddog.webp" alt="Producto" class="card-image">
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                    <h2 class="card-title">Gosbi</h2>
                    <p class="card-description">Comida de perros con salom.</p>
                    <p class="card-price">$19.99</p>
                    <button class="button button_add_to_cart">Add</button>
                </div>
                <div class="content_card_img">
                    <img src="../../assets/petshop/fooddog.webp" alt="Producto" class="card-image">
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                    <h2 class="card-title">Gosbi</h2>
                    <p class="card-description">Comida de perros con salom.</p>
                    <p class="card-price">$19.99</p>
                    <button class="button button_add_to_cart">Add</button>
                </div>
                <div class="content_card_img">
                    <img src="../../assets/petshop/fooddog.webp" alt="Producto" class="card-image">
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                    <h2 class="card-title">Gosbi</h2>
                    <p class="card-description">Comida de perros con salom.</p>
                    <p class="card-price">$19.99</p>
                    <button class="button button_add_to_cart">Add</button>
                </div>
                <div class="content_card_img">
                    <img src="../../assets/petshop/fooddog.webp" alt="Producto" class="card-image">
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                    <h2 class="card-title">Gosbi</h2>
                    <p class="card-description">Comida de perros con salom.</p>
                    <p class="card-price">$19.99</p>
                    <button class="button button_add_to_cart">Add</button>
                </div>
                <div class="content_card_img">
                    <img src="../../assets/petshop/fooddog.webp" alt="Producto" class="card-image">
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                    <h2 class="card-title">Gosbi</h2>
                    <p class="card-description">Comida de perros con salom.</p>
                    <p class="card-price">$19.99</p>
                    <button class="button button_add_to_cart">Add</button>
                </div>
                <div class="content_card_img">
                    <img src="../../assets/petshop/fooddog.webp" alt="Producto" class="card-image">
                </div>
            </div>
        </div>
    </div>


</section>